.game-card-name {
    font-size: 16px;
    height: 20px;
    position: relative;
    bottom: 15px;
}

.game-card-description {
    height: 20px;
}

.game-card-price {
    font-size: 18px;
    font-weight: 600;
}